{{- $institutions       := .Site.Params.institutions }}
{{- $sponsor_title      := index $institutions "sponsor_title" }}
{{- $partner_title      := index $institutions "partner_title" }}
<section class="section section-feature-grey">
    <div class="container">
        <h5 class="title is-5">{{ $sponsor_title }}</h2>
        {{ partial "sponsors.html" . }}
    </div>
    <div class="container">
        <h5 class="title is-5">{{ $partner_title }}</h2>
        {{ partial "partners.html" . }}
    </div>
</section>
