{{- $showcase   := .Site.Params.showcase }}
{{- $title      := index $showcase "title" }}
{{- $subtitle   := index $showcase "subtitle" }}
{{- $image      := index $showcase "image" }}
<!-- <section class="section is-medium"> -->
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
    </div>

    <!-- <div class="columns"> -->
      <div class="column is-10 is-offset-1">
        <div class="has-text-centered">
          <img src="{{ printf "/images/%s" $image | relURL }}">
        </div>
      </div>
    <!-- </div> -->
  </div>
<!-- </section> -->