<div class="sponsor-images">
    <a href="https://www.telecom-paristech.fr/eng">
        <img src="/images/logos/logo-telecom-paristech.png" height="80" width="80" alt="Telecom ParisTech logo.">
    </a>
    <a href="https://www.polytechnique.edu/en">
        <img src="/images/logos/logo-polytechnique.png" height="200" width="200" alt="Ecole Polytechnique logo.">
    </a>
    <a href="https://www.ip-paris.fr/en/">
        <img src="/images/logos/logo-ipparis.png" height="290" width="290" alt="IPParis logo.">
    </a>
    <a href="https://www.waikato.ac.nz/">
        <img src="/images/logos/logo-waikato.png" height="280" width="280" alt="University of Waikato logo.">
    </a>
</div>

<style>
    .sponsor-images {
        display: flex;
        flex-direction: row;
        max-width: 1000px;
        justify-content: center;
        margin: 30px;
    }

    .sponsor-images > a {
        height: 75px;
        width: auto;
        padding: 0 30px;
        margin: 30px 0;
    }

    @media only screen and (max-width: 850px) {
        .sponsor-images {
            flex-direction: column;
        }

        .sponsor-images > img {
            height: auto;
            margin: 30px 0;
            padding: 0;
        }
    }
</style>